[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elase/
IGNORE/
src/Arctium/DEBUG_ConsoleApplicationForTests/**
src/Arctium/DEBUG_ConsoleApplicationForTests/**
src/Arctium/DEBUG_ConsoleApplicationForTests/
**/DEBUG_ConsoleApplicationForTests/**
*.user
*.suo
*.userprefs
*.sln.ide
src/Arctium/.vs/*
src/Arctium/Arctium.Tests.RunTests/app.config
src/Arctium/DEBUG_ConsoleApplicationForTests/**
Arctium/ConsoleAppTest/**
**/ConsoleAppTest/MainProgram.cs
**/ConsoleAppTest/Program.cs