[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elase/
IGNORE/
*.user
*.suo
*.userprefs
*.sln.ide
src/Arctium/ConsoleAppTest/Program.cs
src/Arctium/ConsoleAppTest/Tls13Resources.cs
src/Arctium/.vs/*
src/Arctium/Arctium.Tests.RunTests/app.config
**/build-bin-artifacts/**
**/build-nuget-artifacts/**
