<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="arctium-files" value="D:\Projects\arctium-files\arctium-files"/>
    <add key ="console-tests-display-format" value="allTests"/>
    <add key="filter-tests-by-class-name" value="CRC32Tests"/>
  </appSettings>
</configuration>