<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="arctium-files" value="C:\my-files\projects\arctium-files\Arctium-files\arctium-files"/>
    <add key ="console-tests-display-format" value="allTests"/>
    <add key="filter-tests-by-regex-class-name" value="AESTests"/>
  </appSettings>
</configuration>